
<html>
<head>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link href="s.css" rel="stylesheet" type="text/css">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

</head>
<body >

<div class=' '>
    <div class='row '>

        <div  class='col-md-2 container-fluid' >

            <img  src='/static/img/iiitd.png ' class='img-fluid'  style='height:270px;width: 250px' >
        </div>
        <div class='col-md-10'>

            <div id='myCarousel' class='carousel slide' data-ride='carousel'>
                 <!-- Indicators -->
                <ol class='carousel-indicators'>
                    <li data-target='#myCarousel' data-slide-to='0' class='active'></li>
                    <li data-target='#myCarousel' data-slide-to='1'></li>
					<li data-target='#myCarousel' data-slide-to='2'></li>

                </ol>

                <!-- Wrapper for slides -->
                <div class='carousel-inner'>
                    <div class='item active'>
                        <img src='/static/img/banner1.jpg' class='img-responsive ' style='height: 270px;width: 1300px'>
                    </div>

                    <div class='item'>
                        <img src='/static/img/banner_2.jpg' class='img-responsive '  style='height: 270px;width: 1300px'>
						
                    </div>
					<div class='item'>
                        <img src='/static/img/banner3.jpg' class='img-responsive '  style='height: 270px;width: 1300px'>
						
                    </div>
					
					


                </div>

            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row" >
        <div class="col-md-2 navbar-toggler-icon" id="left_sidebar" style="background-color: lightgray ">

            <div style="font-size: large;align:center;background-color: white;padding:12px;margin-top:10px"> CATEGORY</div>
            <a href="https://webs.iiitd.edu.in/raghava/index.html" class="form-control btn btn-success" style="margin-top: 15px;background-color: rgb(20, 103, 220)">ABOUT OUR PROFESSOR</a>
            <a href="https://webs.iiitd.edu.in/raghava/contact.html" class="form-control btn btn-danger" style="margin-top: 10px;background-color: rgb(20, 103, 220);margin-bottom:850px" >CONTACT US</a>
            
        </div>





        <div class="col-md-10" style="height:1000px;background-color: whitesmoke" >
        
        <div class="row" style="text-align: center;height:80px;text-shadow: lightgrey;font-size: 20px;color: blue;background-color: whitesmoke"><strong><marquee bgcolor="white"><h1> Welcome to our Chatbot portal designed by Shubham Sharma, Vishal Kumar and Rahul Gupta under the supervision of Prof. Gajendra P.S. Raghava and Sumeet Patiyal.. </h1></marquee><strong></div>
                
		
				
		<div class="row" style="height:100px"></div>
		<div class="row" style="height:300px">
		<div class="col-md-2"></div>
		<div class="col-md-8" style="background-color: light;height:300px">
		<div class="col-md-6">
		<div class="row" style="height:300px">
		<img  src='/static/img/chatbot.jpg' class='img-fluid'  style='align:center;margin-top:15px;height:280px;width: 380px' >
		</div>
		</div>
		<div class="col-md-6">
		
            <div class="row" style="height:300px">
            
            <a href="{{ url_for('route2') }}" class="form-control btn btn-primary" style="font-size:20px;text-align:center;padding:25px;font-weight:bold;margin-top: 50px;height:80px;width:400px">Disease Prediction</a>
            <a href="{{ url_for('route1') }}" class="form-control btn btn-info" style="font-size:20px;text-align:center;padding:25px;font-weight:bold;margin-top: 30px;height:80px;width:400px;margin-bottom:20px" >HealthCare Chatbot</a>
            </div>
        </div>
		</div>
		
		
		<div class="col-md-2"></div>
		</div>		
		</div>
				
			
		
            
            
            
            
 </div>

        



</body>
</html>
